

@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Spectral&family=Lato&display=swap");

// Font variables
$caveat: "Caveat Brush", sans-serif;
$lato: "Lato", sans-serif;
$spectral: 'Spectral', serif;

$mainColor: #303283;
$color2: grey;
$color3: #160d33;
