@import "setup";
@import "variables";



html {
    font-size: 100%;
    background-color: black;
    color: white;
  }
  
  .champion {
    display: flex;
    flex-wrap: wrap;
  }
  
  .rank {
    width: 70%;
  }

  .homePage {
    margin-top:100px;
  }

  .searchBar {
    margin-right:100px;
    display:flex;
    justify-content: space-between;
    text-align:end;
    position:fixed;
    box-shadow: 2px 0 10px 1px #120b32;
    border-bottom: 1px solid #120b32;
    background: #160d33;
    border:3px solid #251e47;
    z-index:5;
  }  

  form {
    display:flex;
    align-items:center;
  }

  input[type=submit] {
    padding:5px 10px; 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-left:20px;
    background-image: linear-gradient(120deg,#4c4278,#5e5585);
    border-radius: 0.4rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right:20px;
}

input[type=text] {
  margin-left:20px;
}



  nav ul {
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:100%;
  }
  
  li {
    list-style:none;
  
  }

  nav {
    width:500px;
    height:50px;
  }

  .rankedInfo {
    border:3px solid $color2;
    margin-right:50px;
    margin-top:100px;
  }

  .matchHistory {
    margin-top:100px;
  }

  .flexContainer {
    display:flex;
  }
  
  .match {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .playerName {
    margin-top: 15px;
  }
  
  .player {
    display: flex;
  }
  
  .game {
    display: flex;
    margin-bottom: 50px;
    border: 2px solid white;
    width: 80%;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    color: red;
  }
  
  a:focus {
    text-decoration: none;
    color: white;
  }
  
  .myChampion {
    margin: auto 0;
    width: 50px;
    height: 50px;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:center;
    align-content:flex-start;
    height:300px;
    width:1000px;
    position:relative;
  }
  
  .gameInfo {
    width:200px;
    
  }

  .championImage {
    width:50px;
    height:50px;
  }
  
  .game li {
    list-style:none;
    margin: 5px;
  }
  
  .userPlayInfo {
    position:absolute;
    top: 0;
    left: 0;
    display:flex;
  
  }
  
  .otherPlayerInfo {
    position:relative;
    left:620px;
  }
  
  .otherUsers {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

  .items {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    // width:120px;
    gap:5px;
  
  .trinket {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .item-upper {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item-lower {
    display: grid;
    grid-row-start:3;
    grid-row-end:5; 
  }
    img{
        width:40px;
        border: 1px solid $color2;
        // background-image:url('../assets/opacity.1.png');
    }
  }


  .levelDetail {
    display:flex;
    flex-direction: column;

  }

  .error {
    margin-top:100px;
    font-size:2rem;
  }